

.body-div {
  position: relative;
}

.container-fluid {
  height:100%;
  position: relative;
  padding: 0;
}

#myTabContent {
  padding-left: 50px;
  padding-right: 50px;
}

#new-buttons {
  position: absolute;
  bottom: 5%;
  right: -95%;
}

/** Extra Small (575px and below) **/
@media (max-width: 575px) {
  
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) and (max-width: 767px) { 
  
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) and (max-width: 1199px) {
  #new-buttons {
    position: absolute;
    bottom: 550px;
    left: 550px;
  }

  .student-video-body {
    width: 80%;
  }

  .student-video-body iframe {
    width: 100%;
  }

  .student-notes-card-body {
    margin-bottom: 20px;
  }

  .student-profile-buttons-all {
    transform: scale(.8, .8)
  }

  .student-profile-photo {
    transform: scale(.9, .9)
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { ... }



}
  
