body, html {
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    margin:0;
    padding:0;
    height:100%;
}


#add-new-class-button, #add-new-student-button, #student-notes-collapse-button, #delete-student-form-button, #student-video-collapse-button, 
#add-student-video-url-button {
    width: 4em;
	  height: 4em;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 100px;
}

#add-new-class-button:hover, #add-new-student-button:hover, #student-notes-collapse-button:hover, #delete-student-form-button:hover, 
#student-video-collapse-button:hover, #add-student-video-url-button:hover, #upload-image-button:hover, #delete-student-button:hover, #add-student-button:hover,
#add-class-button:hover {
    transform: scale(1.1, 1.1);
}

.payment-container {
    margin-top: 100px;
    color: white;
}

.card-body {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 1.3rem;
    
}

.container-fluid {
  height:100%;
  position: relative;
  padding: 0;
}

.student-info {
    font-size: 1.5rem;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?1rh1d5');
    src:  url('fonts/icomoon.eot?1rh1d5#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?1rh1d5') format('truetype'),
      url('fonts/icomoon.woff?1rh1d5') format('woff'),
      url('fonts/icomoon.svg?1rh1d5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-student:before {
    content: "\e901";
  }
.icon-class:before {
    content: "\e900";
  }



.popup {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 2% 30%;
    z-index: 95;
}

footer {
  position: absolute;
   bottom:0;
   width:100%;
   height:60px;
}

#myTabContent {
  padding-left: 50px;
  padding-right: 50px;
}

#new-buttons {
  position: absolute;
  bottom: 20px;
  left: 1280px;
}

.payment-card:hover {
  cursor: pointer;
}

.payment-container {
  margin-bottom: 50px;
}

.popup a {
    text-decoration: none;
    padding: 6px 10px;
}

.popup-card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 300px;
  left: 0;
  right: 0;
  text-align: center;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.popup-wrapper {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
}

.student-info {
  margin-top: 20px;
}

.student-profile-photo {
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-top: 10px;
}

.student-profile-photo img {
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#collapseStudentVideo {
  width: 680px;
  height: 520px;
}


.table {
  color: white;
}
  
