.all-btn {
    width: 6rem;
	height: 6rem;
    color: white;
    box-shadow: 0 1rem 2rem rgba($color-black,0.19), 0 6px 6px rgba($color-black,0.23);
    border-radius: 10rem;
    border: none;
    outline: none;
    transition: all .2s;
    display: inline-block;
    margin: 1rem auto;
    font-size: 2rem;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 20px rgba($color-black,0.5), 0 6px 6px rgba($color-black,0.5);
    }

    &:active {
        transform: translateY(0px);
        border: 3px solid $color-white;
        outline: none;
    }

    &:focus {
        border: 3px solid $color-white;
        outline: none;
    }
}