.student-profile {

    &-buttons-all {
        margin: 10px auto;
        text-align: left;
      }

      &-button:nth-child(2) {
        margin-left: 10px;
      }

      &-photo img {
        border-radius: 8px;
        margin: 20px auto;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
}