.accordion-button {
    font-size: 2rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: .5rem;
}

.student-info {
    color: white;
    text-align: left;
}

.student-tabs {
    color: white;
}

.student-tab {

    &:focus {
        color: $primary-red;
    }
}