h2 {
    font-size: 2rem;
}

.student-info {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

.student-tabs {
    color: white;
}

.student-tab {
    font-size: 1.5rem;

    &:focus {
        color: $primary-red;
    }
}

