html {
  font-size: 62.5%;
}

html body {
  font-family: 'Acme', sans-serif;
  margin:0;
  padding:0;
  height:100%;
  font-size: 2rem;
}

.student-info {
    &-text {
      margin-top: 2rem;
  }
}

.student-performance-class {
  &-graph img {
    width: 60%;
  }

  &-ul {
    font-size: 3rem;
    list-style-type: none;
    text-align: left;
  }
}

.student-performance-tab {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

